<!DOCTYPE html>
<html>
<head>
	<title>Create Session</title>
</head>
<body>
<div class="card">
	<div class="card-header"><i class="fa fa-align-justify"></i>Session Register Form</div>
	<div class="card-body">
		<form class="" action="" method="POST">
			{% csrf_token %}
			{{forms.as_p}}
			<button class="btn btn-primary" type="Submit">Submit</button>
		</form>
	</div>
</div>
<div class="card">
	<div class="card-header"><i class="fa fa-aligh-justify"></i>Session List</div>
	<div class="card-body">
		<table class="table table-responsive-sm">
			<thead>
				<tr>
					<th>ID</th>
					<th>Session Name</th>
					<th>Register Date</th>
				</tr>
			</thead>
			<tbody>
				{% for session in session %}
				<tr>
					<td>{{session.id}}</td>
					<td>{{session.name}}</td>
					<td>{{session.date}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	
</div>
</body>
</html>